@page
@model RazorApp.Pages.Customer.CreateCustomerModel
@{
    ViewData["Title"] = "Create New Customer";
}

<!DOCTYPE html>
<html>
<head>
    <title style="text-align: center">@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Стили для страницы создания новой категории */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            padding: 20px;
        }

        .form-container {
            max-width: 500px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 30px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-cancel {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="form-container">
        <form method="post">
            <div class="form-group">
                <label asp-for="CreateCustomerDto.Name"> Name:</label>
                <input asp-for="CreateCustomerDto.Name" class="form-control"/>
                <span asp-validation-for="CreateCustomerDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateCustomerDto.Email">Email:</label>
                <input asp-for="CreateCustomerDto.Email" class="form-control"/>
                <span asp-validation-for="CreateCustomerDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateCustomerDto.Address">Address:</label>
                <input asp-for="CreateCustomerDto.Address" class="form-control"/>
                <span asp-validation-for="CreateCustomerDto.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateCustomerDto.PhoneNumber">Phone Number:</label>
                <input asp-for="CreateCustomerDto.PhoneNumber" class="form-control"/>
                <span asp-validation-for="CreateCustomerDto.PhoneNumber" class="text-danger"></span>
            </div>


            <!-- Добавьте другие поля DTO здесь, если они есть -->

            <button type="submit" class="btn btn-primary">Create Customer</button>
            <a asp-page="/Customer/GetCustomers" class="btn btn-secondary btn-cancel">Cancel</a>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>