@page
@model RazorApp.Pages.Customer.DeleteCustomerModel
@{
    ViewData["Title"] = "Delete Customer";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        /* Стили для страницы удаления категории */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>@ViewData["Title"]</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <p>Are you sure you want to delete this Customer?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="/Customer/GetCustomers" class="btn btn-secondary">Cancel</a>
</form>
</body>
</html>